In [2]:
print('Hello World')

Hello World

In [3]:
# 비시퀀스와 for문

In [4]:
for item in {'가위','바위','보'}:
    print(item)

가위
보
바위

In [5]:
person = {'name':'에밀리', 'age':'20'}
for item in person:
    print(item)

name
age

In [6]:
for key in person:
    print(person[key])

에밀리
20

In [7]:
for key in person:
    print(person.get(key))

에밀리
20

In [8]:
n = 1
while n <= 10:
    print(n)
    n += 1 # n = n + 1

1
2
3
4
5
6
7
8
9
10

In [9]:
n = 1
while True:
    print(n)
    if n == 10:
        break
    n+=1

1
2
3
4
5
6
7
8
9
10

In [11]:
total = 0
for a in range(1,101):
    if a % 3 == 0:
        continue
    total += a  # total = total + a

print(total)

3367

In [12]:
n = 1
while n <= 10:
    print("홍길동")
    n += 1 # n = n + 1

홍길동
홍길동
홍길동
홍길동
홍길동
홍길동
홍길동
홍길동
홍길동
홍길동

In [17]:
chr(97)

'a'

In [18]:
ord('a')

97

In [19]:
eval('100+200')

300

In [20]:
a = 10
eval('a*5')

50

In [21]:
format(10000)

'10000'

In [22]:
format(10000,'_')

'10_000'

In [24]:
format(100000000000,',')

'100,000,000,000'

In [25]:
for item in enumerate(['가위','바위','보']):
    print(item)

(0, '가위')
(1, '바위')
(2, '보')

In [26]:
for idx, element in enumerate(['가위','바위','보']):
    print(idx, element)

0 가위
1 바위
2 보

In [27]:
# range(start, stop, step)

list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
list(range(0,30,5))

[0, 5, 10, 15, 20, 25]

In [30]:
list(range(0,10,3))

[0, 3, 6, 9]

In [31]:
#len()

li =['a','b','c','d']
len(li)

4

In [32]:
my_list = [6,3,1,2,5,4]
sorted(my_list)

[1, 2, 3, 4, 5, 6]

In [33]:
sorted(my_list, reverse=True)

[6, 5, 4, 3, 2, 1]

In [34]:
name=['james','emily','amanda']
scores=[60,70,80]

for student in zip(name,scores):
    print(student)

('james', 60)
('emily', 70)
('amanda', 80)

In [ ]:
# 'james','emily','amanda' 번호를 1,2,3 ....zip함수를 이용

1번 학생은 james입니다.
.
.

In [35]:
#########################################################
#매소드는 특정 기능 수행한다. 
#매소드는  특정 객체를 통해서만 호출할 수 있다.

In [36]:
name = input('이름을 입력하세요')
print(name)

이름을 입력하세요홍길동
홍길동

In [38]:
my_list=[]
my_list.append('apple')
my_list.pop()

'apple'

In [41]:
print("10자리 폭 왼쪽 정렬'{:<10d}'".format(123))

10자리 폭 왼쪽 정렬'123       '

In [42]:
print("10자리 폭 오른쪽 정렬'{:>10d}'".format(123))

10자리 폭 오른쪽 정렬'       123'

In [43]:
print("10자리 폭 가운데 정렬'{:^10d}'".format(123))

10자리 폭 가운데 정렬'   123    '

In [44]:
print("10자리 폭 오른쪽 정렬'{:*<10d}'".format(123))

10자리 폭 오른쪽 정렬'123*******'

In [45]:
print("10자리 폭 오른쪽 정렬'{:*>10d}'".format(123))

10자리 폭 오른쪽 정렬'*******123'

In [46]:
print("10자리 폭 오른쪽 정렬'{:*^10d}'".format(123))

10자리 폭 오른쪽 정렬'***123****'

In [47]:
s = '내가 그린 기린 그림은 목 긴 기린 그림이고 네가 그린 기린 그림은 목 짧은 기린 그림이다.'
s.count('기린')

4

In [48]:
s = 'best of best'
s.count('best')

2

In [49]:
s = 'best of best' 
매개변수  ==   인수
s.count('best',5)

1

In [50]:
s = 'apple'
s.find('p')

1

In [51]:
s.find('x')

-1

In [52]:
my_list = ['apple','banana']
my_list.append('cherry')
my_list

['apple', 'banana', 'cherry']

In [ ]:
# 함수정의 : 사용자 함수를 새로 만든다. 
# 인수 : 함수에 넣는 값(input) argument
# 반환값 : return 값 (output)
# 매개 변수 : 인수를 받아서 저장하는 변수 parameter

In [ ]:
def 함수명(매개변수):
    ...
    ...
    return 반환값


변수 = 함수명(인수)


함수 형태 4가지
1  노인수 노반환
2    인수 노반환
3  노인수 반환
4    인수 반환   (대부분의 함수)

In [2]:


def welcome(): # 노인수 노반환
    print('Hello Python')
    print('Nice to meet you')
    
    
welcome()

Hello Python
Nice to meet you

In [3]:
def introduce(name, age):
    print('내 이름은 {}이고, 나이는 {}살입니다.'.format(name, age))
    
    
introduce('james', 25)

내 이름은 james이고, 나이는 25살입니다.

In [4]:
def show(*args):
    for item in args:
        print(item)
        
show('python')
show('happy','birthday')

python
happy
birthday

In [7]:
def greet(message="안녕하세요", name):
    print('{}님 {}'.format(name, message))
    
greet('김철수')

SyntaxError: non-default argument follows default argument (<ipython-input-7-2bc3af1af600>, line 1)

In [8]:
def greet(name, message="안녕하세요"):
    print('{}님 {}'.format(name, message))
    
greet('김철수')

김철수님 안녕하세요

In [10]:
def adder(*args):
    print('{}의 합은 {}입니다.'.format(args, sum(args)))
    
adder(1,2,3)
adder(1,2,3,4)

(1, 2, 3)의 합은 6입니다.
(1, 2, 3, 4)의 합은 10입니다.

In [12]:
def address():
    str = '우편번호 12345\n'
    str += '서울시 영등포구 여의도동'
    return str

print(address())

우편번호 12345
서울시 영등포구 여의도동

In [13]:
def calculator(*args):
    return sum(args), sum(args)/len(args), max(args), min(args)

a, b, c, d = calculator(1,2,3,4,5)

print('합계', a)
print('평균', b)
print('최대값', c)
print('최소값', d)

합계 15
평균 3.0
최대값 5
최소값 1

In [14]:
def charge(energy):
    if energy < 0:
        print('0보다 작은 에너지는 충전할 수 없습니다.')
        return
    print('에너지가 충전되었습니다.')
    
charge(1)
charge(-1)

에너지가 충전되었습니다.
0보다 작은 에너지는 충전할 수 없습니다.

In [16]:
def coffe_machine(money, pick):
    print('{}원에 {}를 선택하셨습니다.'.format(money, pick))
    menu = {'아메리카노': 1000, '카페라떼': 1500, '카푸치노': 2000}
    if pick not in menu:
        print('{}는 판매하지 않습니다.'.format(pick))
        return money, '없는 메뉴'
    elif menu[pick] > money:
        print('{}는 {}원입니다.'.format(pick, menu[pick]))
        return money, '자금부족'
    else:
        return money - menu[pick], pick
    
order = input('커피를 선택하세요(아메리카노, 카페라떼, 카푸치노)')
pay = int(input('얼마를 내시나요?'))

change, coffe = coffe_machine(pay, order)
print('잔돈 {}원, 커피{}'.format(change, coffe))

커피를 선택하세요(아메리카노, 카페라떼, 카푸치노)카푸치노
얼마를 내시나요?3000
3000원에 카푸치노를 선택하셨습니다.
잔돈 1000원, 커피카푸치노

In [19]:
# 함수 내부에서 선언한 변수는 함수 내부에서만 사용할 수 있다. 
# 지역 변수 local variable

# 함수 외부에서 선언한 변수는 함수 내부나 함수 외부에서 모두 사용할 수 있다. 
# 전역 변수 global variable


def f():
    az = 10
    print(az)
    
f()



print(az)

10

NameError: name 'az' is not defined

In [21]:
bz = 10
def f():
    print(bz)
    
f()
print(bz)

10
10

In [22]:
a = 0
def f():
    print(a)
    
f()

0

In [23]:
print(a)

0

In [24]:
a = 0
def f():
    global a
    a = 10
    
f()

In [25]:
print(a)

10